body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 1440px;
    height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
}

.section-card {
    width: 920px;
    height: 509px;
    display: flex;
    font-family: var(--Fonte-Kumbh);
    background-color: white;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1255% 68%;
    gap: 88px;
    border-radius: 20px;
    box-shadow: 0 1px 50px var(--Very-dark-desaturated-blue);
}

.picture {
    position: relative;
    margin: 70px 0 0 -84px;
}

.picture::after {
    position: absolute;
    content: url(../images/illustration-box-desktop.svg);
    left: -9px;
    bottom: 118px;
}

.div-questions h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-top: 62px;
    margin-bottom: 21px;
}

.ul-questions {
    max-width: 350px;
}

.ul-questions li {
    border-bottom: 1px solid var(--Light-grayish-blue);
}

.ul-questions h2 {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    letter-spacing: .08px;
    padding: 16px 0;
    transition: .3s ease-in-out;
    cursor: url(https://github.com/HumbertoFox/repository/assets/126817628/ef5feb7b-75d4-47ee-a596-7be253492ebd), auto;
}

.ul-questions h2:hover {
    color: var(--Soft-red);
}

.ul-questions h2::after {
    position: absolute;
    content: url(../images/icon-arrow-down.svg);
    top: 15px;
    right: 16px;
}

.ul-questions h2.active {
    font-weight: 700;
    padding-bottom: 10px;
    color: var(--Very-dark-desaturated-blue);
}

.ul-questions h2.active::after {
    transform: rotate(180deg);
    top: 16px;
}

.ul-questions p {
    display: none;
    font-size: 12px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    line-height: 18px;
    letter-spacing: .04px;
    padding-bottom: 17px;
}

.ul-questions p.visibled {
    display: block;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}